@{
    ViewData["Title"] = "Home Page";
}

<body>
    <h1>Weather Data:</h1>
    <div>
        <ul id="WeatherLog"></ul>
    </div>
</body>
<script src="~/js/site.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
